<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header(title = ~{::title}, scripts = ~{::script})">
    <title>Raket Labs - QR</title>
</head>
<body>
    <div id="wrapper">
        <div th:replace="base :: #raketlabs-logo"></div>

        <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>

        <div id="login-panel" class="card panel-s">
            <div class="card-body">
                <form th:action="@{/c/institution}" method="post">
                    <div class="form-group">
                        <label for="institution">Institution</label>
                        <input type="text" class="form-control" id="institution" name="institution" placeholder="Enter the name of the institution" required>
                    </div>
                    <div class="form-group">
                        <label for="accountNumber">Code</label>
                        <input type="text" class="form-control" id="code" name="code" placeholder="Enter the identifier code" minlength="11" maxlength="11" required>
                    </div>
                    <div class="form-group">
                        <label for="createInstitution" class="form-check-label invisible">Create Institution</label>
                        <button type="submit" class="btn btn-primary btn-block" name="createInstitution">Create Institution</button>
                    </div>
    
                </form>
            </div>
        </div>

    </div> <!-- #wrapper -->
</body>
</html>